<!DOCTYPE html>
<html>
<head>
  <title>Leadpass</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<!-- yield variable. ... think of it like <div class="container" -->

</body>
</html>
